body{
    background-color: #DFE9E8;
    font-family: 'Poppins', sans-serif;
}

.Home-container{
    width: 80%;
    margin: auto;
    height: auto;
    padding: 20px;
}

.Home-container button{
    padding: 15px;
    border: none;
    color: #fff;
    background-color:#07305A;
    font-size: 20px;
    border-radius: 10px;
}

.mb{
    margin-bottom: 0px;
}

.mt{
    margin-top: 0px;
}

.Link{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 500px){
    .Home-container img{
        width: 80%;
    }
}