body{
  background-color: #fff;
}

.wallet-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

nav{
  width: 90%;
  margin: auto;
}
  

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: 20px;
  color: #6C756E;
  font-weight: lighter;
}

footer{
  padding: 20px;
}

footer ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: 15px;
  color: #6C756E;
  font-weight: bold;
}

footer .container{
  width: 60% !important;
}

@media only screen and (max-width: 500px){
  .logo img{
    height: 30px;
  }
  .logo{
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 600px){
  nav{
    width: 99%;
  }

  footer .container{
    width: 90% !important;
  }
}